<!-- 
  <ion-header [translucent]="true" *ngIf="allPage">
  <ion-toolbar>
    <ion-title>Service details</ion-title>
  </ion-toolbar>
</ion-header> -->
  <ion-content class="ion-padding">

  <div class="card card-light dark-text fw-bold"*ngIf="!allPage">
      <div class="card-header"> 
        <div class="float-end">
          <ion-chip>
            <ion-label>{{salonDetails?.nameEn}}</ion-label>
            <ion-avatar>
              <img [src]="salonDetails?.logo" />
            </ion-avatar>
          </ion-chip>
      </div>
      <h3 class="fw-bold px-2 mb-0 mt-2">{{serviceDetails?.nameEn}}</h3>
    </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
           <span> Price : {{serviceDetails?.price}} SAR </span>
          </div>
          <div class="col-6">
            <span>Deposit: {{serviceDetails?.deposit}} SAR </span>
          </div>
        </div>
        <div class="row mt-2">
         
          <!-- <h2 class="text-dark mt-3 subTitle">About Service:</h2>
          <p class="mt-1" >{{serviceDetails?.descriptionEn}}</p> -->
          <div class="col-12" style="display: flex;align-items: center;">
            <ion-badge class="badge badge-dark"> <ion-icon name="time-outline"></ion-icon><span> {{serviceDetails?.durationInHours}} : {{serviceDetails?.durationInMinutes}}</span> </ion-badge>
            </div>
        </div>

        <!-- <div class="row mt-4">
          <div class="col-12">
            <button type="button" class="btn btn-warning btn-rounded"style="width: 100%;" (click)="setOpen(true)" >Add To Cart</button>
          </div>
        </div> -->
      </div>
  </div>

    <div class="card card-light dark-text" *ngIf="!allPage">
      <ion-card-header>
        <ion-card-title>For More details</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <button type="button" class="btn btn-white btn-rounded"style="width: 100%;" (click)="viewServiceDetailsPage()" >View More</button>
      </ion-card-content>
    </div>

    <div class="card card-light dark-text fw-bold" *ngIf="allPage">
      <div class="card-header"> 
        <div class="float-end">
          <ion-chip>
            <ion-label>{{salonDetails?.nameEn}}</ion-label>
            <ion-avatar>
              <img [src]="salonDetails?.logo" />
            </ion-avatar>
          </ion-chip>
      </div>
        <ion-card-title>{{serviceDetails?.nameEn}}</ion-card-title>
    </div> 
      <div class="card-body">
        <div class="row">
          <div class="col-6">
           <span> Price : {{serviceDetails?.price}} SAR </span>
          </div>
          <div class="col-6">
            <span>Deposit: {{serviceDetails?.deposit}} SAR </span>
          </div>
        </div>
      </div> 
    </div>


    <!-- <form [formGroup]="stylistForm" (ngSubmit)="submitForm()" novalidate> -->
      <div class="card card-light dark-text fw-bold" *ngIf="allPage" >
        <div class="card-body">
        <h3>About</h3>
        <p>{{serviceDetails?.descriptionEn}}</p>
        <h6>Service Avalable time : </h6>
        <div class="row">
          <div class="col-6">
            <p>From: {{serviceDetails?.serviceAvailabilityStart}}</p>
          </div>
          <div class="col-6">
            <p>To: {{serviceDetails?.serviceAvailabilityEnd}}</p>
          </div>
        </div>
        
       <p class="d-flex align-items-center"> <span>Home Service Available?  </span>
        <ion-icon *ngIf="serviceDetails?.isAvailableAtHome==1" class="dark-text" style="font-size: 24px;font-weight: 500;" name="checkmark-outline"></ion-icon>
        <ion-icon *ngIf="serviceDetails?.isAvailableAtHome==0" class="dark-text" style="font-size: 24px; font-weight: 500;" name="close-outline"></ion-icon></p>
        </div> 
      </div>

    <div class="row mt-4" *ngIf="allPage" >
      <div class="col-12">
        <button class="btn btn-secondary btn-rounded" type="button"  (click)="bookingService()" style="width: 100%;">Book now</button>
      </div>
    </div>
  <!-- </form> -->

  </ion-content>
  <ion-alert
  [isOpen]="isAlertOpen"
  header="Alert"
  message="This Service Is Not available Right Now"
  [buttons]="alertButtons"
></ion-alert>
<!-- (didDismiss)="setOpen(false)" -->
