<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" style="background-color: aqua;">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <ion-card class="buttom-card" *ngIf="showInputNumber">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <div class="mb-4">
          <label class="col-md-2 mt-3 col-form-label" >Enter Your Mobile Number</label>
          <input  type="number" class="form-control"  mask="(000) 000-0000" placeholder="+9665xxxxxxxx">
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-warning btn-rounded" (click)="onSubmitNumber()" style="width: 100%;">Next</button>
          </div>
        </div>

      </form>
    </ion-card-content>
  </ion-card>

  <ion-card class="buttom-card" *ngIf="!showInputNumber">
    <ion-card-header>
      <ion-card-title>Enter Code</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <div class="row mt-4">
          <div class="col-md-12 text-center">
            <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <button type="button" class="btn btn-warning btn-rounded" (click)="onLogin()" style="width: 100%;">Login</button>
          </div>
        </div>

      </form>
    </ion-card-content>
  </ion-card>

  
</ion-content>
