<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">On boarding</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <!-- <strong>Have Accoount?</strong> -->
    <!-- <br> -->
    <button type="button" class="btn btn-soft-warning waves-effect waves-light" routerLink="/login" >Start</button>
  </div>
</ion-content>
