.square {
    width: 90%;
    margin: 1%;
}

:host .calendar-day.calendar-day-active  {
    color: var(--ion-color-step-850) !important;
    font-weight: 600;
}

.wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
  }

  .career_badge {
      background-color:#8480F2 !important ;
    & {
        white-space: nowrap !important;
    }

    .circle {
        width: 12px;
        height: 12px;
    }

    &.active {
        background-color: var(--ion-color-step-650) !important;
    }
}