<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>booking</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Book Appointment</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="row">
    <div class="col-12">
      <h3 class="row"> service : {{data?.nameEn}}</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h2 >Stylist: </h2>
        <ion-radio-group  (ionChange)="selectStylist($event)">
          <ion-item *ngFor="let item of StylistList">
            <ion-radio [value]="item.stylistId" labelPlacement="end" ></ion-radio>
            <ion-label>{{item.nameEn}}</ion-label>
          </ion-item>
        </ion-radio-group>
        <ion-radio-group value="custom-checked">
        </ion-radio-group>
    </div>
  </div>

  <div class="row mt-3">
    <h3 size="large">Select Date</h3>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <ion-datetime #datetime presentation="date" color="rose" (ionChange)="setDate($event)">
        <ion-buttons slot="buttons">
          <ion-button color="danger" (click)="datetime.reset()">Reset</ion-button>
          <ion-button color="primary" (click)="datetime.confirm()">Save</ion-button>
        </ion-buttons>
      </ion-datetime>
    </div>
  </div>
  <div class="row mt-4" *ngIf="showAvailableTimes">
    <h3 size="large">Available Times</h3>
    <div class="wrapper">
      <ion-grid class="square">
        <ion-row>
          <ion-col size="auto" *ngFor="let item of availableTimeList">
            <span class="badge w-auto mb-0 pointer rounded-pill career_badge"
              [ngClass]="{'active': item === selectedTime}" (click)="onSelectTime(item)">{{item}}</span>
            <!-- <button class="btn btn-outline-light" >{{item}}</button> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-row class="ion-justify-content-center mt-3" *ngIf="showAvailableTimes">
    <ion-col size="5">
      <!-- [routerLink]="['/booking/{{seviceID}}/cart']" routerLinkActive="router-link-active"  -->
      <button type="button" class="btn btn-secondary btn-rounded"style="width: 100%;" (click)=onBookingService()>Book now</button>
    </ion-col>
  </ion-row>
</ion-content>
